* {
    font-family: Open Sans;
  }
/* #news-box {
    margin-left: 2rem;
    margin-bottom: 2rem;
} */
/* #banner {
    width: 100% !important;
    position:absolute;
    left: 0;
} */
/* #courses-box {
    margin-bottom: 3rem;
} */

/* #news-box span, #courses-box span {
 font-size: medium;
 padding: 3px 3px 3px 3px;
} */

#main-content article {
    text-align: left;
}
#main-content article header {
    padding-bottom: 2rem;
}

/* #main-content {
    max-width: 70%;
} */