{{ with .Site.GetPage "/contact" }}

<div class="mt-[3rem] pt-[2rem] text-center border rounded-lg">



<section class="p-2 prose dark:prose-invert">{{ .Content | emojify }}</section>

<!-- <h1> {{ .Title }} </h1> -->
<hr class="ml-[4rem] mr-[4rem] ">

<a href="https://www.oulu.fi/en/university/faculties-and-units/faculty-information-technology-and-electrical-engineering/itee-contact-information" target="_blank" 
class="flex flex-col items-center mt-3 bg-white shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    {{ $svg := resources.Get "/images/unioulu.svg" }}
    <!-- <div class="text-primary-700 dark:text-primary-400 object-cover p-6 w-full max-w-sm rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"> -->
    <div class="text-primary-700 dark:text-primary-400 object-cover p-6 rounded-t-lg h-auto w-[11rem]  md:h-auto md:w-48 md:rounded-none md:rounded-l-lg">
      {{ $svg.Content | safeHTML }}
    </div>
    <div class="flex flex-col justify-between p-4 leading-normal">
        
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Or come to visit us!</h5>
        <p class="pt-1">Erkki Koiso-Kanttilan katu 3, door E, 90570 Oulu</p>
        <p class="pt-1">P.O Box 4500</p>
        <p class="pt-1">FI-90014 University of Oulu</p>
        <p class="pt-1 font-bold">Computer Science, 3rd floor, TS38X</p>
    </div>
</a>
</div>

{{ end }}
