
 <script>
      function loadRepositories(filter="") {
        return {
          search: filter,
          myForData: repoDataFiltered,
          get filteredRepos() {
            // if (this.search === "") {
            //   return this.myForData;
            // }
            return this.myForData.filter((item) => {
                if (item.repositoryTopics == null){
                    return
                }
              return item.repositoryTopics ? item.repositoryTopics.filter(e =>  e.name.toLowerCase() === this.search.toLowerCase()).length > 0 : false;
            });
          },
        };
      }

      const repoJSON = "{{ (index .Site.Data (.Scratch.Get "dataSet")) | jsonify }}"
      repoData = JSON.parse(repoJSON)
      // Remove repositories without description
      repoDataFiltered = repoData.filter(item => item.description)
  </script>

<div class="pt-1">
  <div
    class="container m-auto px-2 text-primary-700 dark:text-primary-200 md:px-12 xl:px-0" x-data="loadRepositories('learning')"
  >
  <div class="flex flex-row m-2 center justify-center">
  <!-- <p class="mt-2 ml-4 font-bold leading-tight uppercase pr-2" >Filter </p> -->
    {{ $tags := slice "learning" "fuzzing" "cryptography"}}
    {{ range $tags }}
    <button id="button-{{ . }}" x-on:click="search = '{{ . }}'" 
    class="max-w-fit p-1 m-1 hover:bg-neutral-300 focus:bg-neutral-300 border-2 border-neutral-300 rounded-md flex items-center justify-center text-sm font-medium"
    >
        {{- . -}}
    </button>
    {{ end }}
  </div>
    <div
      class="mx-auto grid gap-2 md:w-4/4 lg:w-full grid-cols-2 sm:grid-cols-3 lg:grid-cols-4" 
    >

        <template x-for="item in filteredRepos" :key="item.name">
      <div
        class="relative bg-neutral-200 text-primary-900 dark:text-primary-200 dark:bg-primary-900 rounded-2xl shadow-lg px-6 py-6 sm:px-10 lg:px-6 transition duration-150 ease-in-out transform hover:scale-105"
      >
     <div class="mt-1 space-y-4 text-xs sm:text-sm font-bold ">
          <p class="mb-6" x-text="item.description"></p>
        </div>
        <a
          x-bind:href="item.url"
          target="_blank"
          type="button"
          class="absolute inline-block p-1 sm:px-4 sm:py-1.5 bottom-3 font-semibold text-xs leading-tight uppercase rounded shadow-md hover:bg-primary-800 hover:text-primary-50 hover:dark:bg-primary-600 hover:shadow-lg"
          >Learn more {{ partial "icon.html" "github" }}
        </a>
          </div>
        </template>
   

      </div>
    </div>
</div>


